<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackGrounds/BackGround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1028},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>BackGrounds/BackGround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>BackGrounds/EndGameBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{600,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,350}}</string>
                <key>sourceSize</key>
                <string>{600,350}</string>
            </dict>
            <key>BgmOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,161},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>BgmOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,85},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>Buttons/BackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,732},{266,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,95}}</string>
                <key>sourceSize</key>
                <string>{266,95}</string>
            </dict>
            <key>Buttons/Continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1281},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>Buttons/GetPresent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,658},{299,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,95}}</string>
                <key>sourceSize</key>
                <string>{299,95}</string>
            </dict>
            <key>Buttons/OnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1328},{298,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{298,56}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>Buttons/PauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>Buttons/Quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1000},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>Buttons/Rematch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,311},{303,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,71}}</string>
                <key>sourceSize</key>
                <string>{303,71}</string>
            </dict>
            <key>Buttons/Restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,959},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>Buttons/StartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,326},{330,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,118}}</string>
                <key>sourceSize</key>
                <string>{330,118}</string>
            </dict>
            <key>Court3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>GreenBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,357},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Icons/Icon-72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,237},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Icons/Icon-Small-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,784},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Icons/Icon-Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,326},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>Icons/Icon-Small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1268},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Icons/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1322},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Icons/Icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,616},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Numbers/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1150},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,1136},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1100},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,1086},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1050},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,1036},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1000},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,986},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,936},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,886},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Numbers/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,836},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Player/Mallet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,164},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Player/Mallet2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Present.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1200},{68,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,732},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allResources.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e28c952df55ce475320ede9bf80a359a:1/1$</string>
            <key>textureFileName</key>
            <string>allResources.pvr.ccz</string>
        </dict>
    </dict>
</plist>
